<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phong.tcctgamehub" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<platform name="android">
		<icon src="res/icon.png" />
		<preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/splash/splash.png" />
		<preference name="AndroidWindowSplashScreenBackground" value="#000000" />
		<preference name="AndroidWindowSplashScreenScaleType" value="FIT_CENTER" />
		<preference name="AndroidWindowSplashScreenImmersiveMode" value="true" />
		<preference name="AndroidSplashScreenDelay" value="3000" />


	</platform>


    <name>Tears of Phong</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
