@font-face {
    font-family: 'AmpleSoft';
    src: url('../css/fonts/AmpleSoft.ttf') format('truetype');
}

*,*:before,*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 30vw;
	height: 30vw;
	margin: 10px auto;
	cursor: pointer;
}

.container1, .container3 {
	width: 100%;
	height: 40%;
	display: flex;
}
.container2 {
	width: 100%;
	height: 20%;
	display: flex;
}

.rol1-col1, .rol1-col3, .rol3-col1, .rol3-col3 {
	width: 40%;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	border: 1px solid #000000;
	background-size: contain; background-repeat: no-repeat; background-position: center;
}
.rol1-col2, .rol3-col2 {
	width: 20%;
	height: 100%;
}
.rol2-col1, .rol2-col3 {
	width: 40%;
	height: 100%;
}
.rol2-col2 {
	width: 20%;
	height: 100%;
}

.rol1-col1 {	